<!DOCTYPE html>
<html>
  <head>
    <title>LACKP</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <header>
      <h1>League of Cool Kickball Professionals</h1>
      <nav></nav>
    </header>

    <%= yield %>

    <footer>
      <h3>This is a footer!</h3>
    </footer>

  </body>
</html>
