<h1>League of Cool Kickball Professions (LACKP) Positions</h1>

<ul>
  <% @positions.each do |position| %>
    <li><a href="/positions/<%= position %>"><%= position %></a></li>
  <% end %>
</ul>

<a href="/teams">Teams</a>
