<!DOCTYPE html>
<html>
  <head>
    <title><%= @position_name %> - LACKP</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      <%= @position_name %>
    </h1>

    <ul>
      <% @position_players.each do |player, team| %>
        <li><%= player %>: <%= team %></li>
      <% end %>
    </ul>

    <a href="/positions">All positions</a>
  </body>
</html>
